<ion-header>
  <ion-toolbar color="primary">
    <ion-title><img src="../../../assets/img/logo.png" alt="" class="logo"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Registro</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="usuario" (ngSubmit)="registrar()">
          <ion-item>
            <ion-label position="stacked">Run</ion-label>
            <ion-input type="text" placeholder="Ingrese Run ej: 12.345.678-9" formControlName="run"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input type="text" placeholder="Ingrese su Nombre" formControlName="nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Apellido</ion-label>
            <ion-input type="text" placeholder="Ingrese su Apellido" formControlName="apellido"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Fecha de nacimiento</ion-label>
            <ion-input type="date" placeholder="Ingrese su Fecha de nacimiento" formControlName="fNac"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Correo</ion-label>
            <ion-input type="text" placeholder="Ingrese Correo institucional" formControlName="correo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input type="password" placeholder="Ingrese contraseña" formControlName="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Confirmación contraseña</ion-label>
            <ion-input type="password" placeholder="Ingrese contraseña nuevamente" name="verificar_password" [(ngModel)]="verificar_password" [ngModelOptions]="{standalone: 'true'}"></ion-input>
          </ion-item>
          <ion-radio-group formControlName="tipo_usuario" [(ngModel)]="tipo_usuario">
            <ion-item>
              <ion-label>Soy Conductor</ion-label>
              <ion-radio color="tertiary" slot="start" value="conductor"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Soy Pasajero</ion-label>
              <ion-radio color="tertiary" slot="start" value="pasajero"></ion-radio>
            </ion-item>
          </ion-radio-group>
          <div *ngIf="tipo_usuario == 'conductor'">
            <h2>Registro vehiculo</h2>
                <ion-item>
                  <ion-label position="stacked">Marca</ion-label>
                  <ion-input type="text" placeholder="Ingrese Marca" formControlName="marca"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Modelo</ion-label>
                  <ion-input type="text" placeholder="Ingrese Modelo" formControlName="modelo"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Capacidad</ion-label>
                  <ion-input type="text" placeholder="Ingrese capacidad máx. de personas" formControlName="capac"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Patente</ion-label>
                  <ion-input type="text" placeholder="Ej: AA-AA-11" formControlName="patente"></ion-input>
                </ion-item>
                <ion-list>
                  <ion-item>
                    <ion-select interface="popover" placeholder="Seleccione Año" formControlName="anio">
                      <ion-select-option value="2016">2016</ion-select-option>
                      <ion-select-option value="2017">2017</ion-select-option>
                      <ion-select-option value="2018">2018</ion-select-option>
                      <ion-select-option value="2019">2019</ion-select-option>
                      <ion-select-option value="2020">2020</ion-select-option>
                      <ion-select-option value="2021">2021</ion-select-option>
                      <ion-select-option value="2022">2022</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-list>
                  <ion-list>
                    <ion-item>
                      <ion-select interface="popover" placeholder="Seleccione color" formControlName="color">
                        <ion-select-option value="rojo">Rojo</ion-select-option>
                        <ion-select-option value="azul">Azul</ion-select-option>
                        <ion-select-option value="amarillo">Amarillo</ion-select-option>
                        <ion-select-option value="blanco">Blanco</ion-select-option>
                        <ion-select-option value="negro">Negro</ion-select-option>
                        <ion-select-option value="gris">Gris</ion-select-option>
                        <ion-select-option value="verde">Verde</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-list>
                <ion-item>
                  <ion-label position="stacked">Número de licencia</ion-label>
                  <ion-input type="number" placeholder="Ej: 12345678"formControlName="licencia"></ion-input>
                </ion-item>
            </div>
          <ion-button color="secondary" type="submit" [disabled]="!usuario.valid">registrar</ion-button>  
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
