<ion-header>
  <ion-toolbar color="primary">
    <ion-title><img src="../../../assets/img/logo.png" alt="" class="logo"></ion-title>
    <ion-button slot="end" (click)="salir()"><ion-icon name="log-in-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="inicio">
    <h4>Bienvenid@: {{ usuario.nombre }}</h4>
    <div class="inputLabel">
      <p>Introduce una ubicación</p>
    </div>
    <div class="item">
      <ion-item>
        <input [(ngModel)]="valor_caja" type="text" id="autocompletar">
      </ion-item>
      <ion-button (click)="calculoRuta()">G. Ruta</ion-button>
    </div>
    <div class="inputLabel">
      <p>Valor viaje</p>
    </div>
    <div class="item">
      <ion-item>
        <ion-input [(ngModel)]="viaje.valor" type="text" placeholder="Ingrese valor"></ion-input>
      </ion-item>
      <ion-button (click)="crearViaje()" >Crear Viaje</ion-button>
    </div>
    <div class="item-2">
      <ion-label position="stacked">Ganancias del día: $0</ion-label>
    </div>
    <div class="map">
      <div id="mapa"></div>
    </div>
  <div>

  </div>
  </div>
</ion-content>
<ion-footer>
  <div>
    <!-- <div>
      <ion-button class="img img2 noactivo" fill="clear" (click)="irMapa()"><ion-icon name="navigate-circle"></ion-icon></ion-button>
    </div> -->
    <div>
      <ion-button class="img active" fill="clear"><ion-icon name="home"></ion-icon></ion-button>
      <span class="blur"></span>
      <span class="indicador"></span>
    </div>
    <div>
      <ion-button class="img img2 noactivo" fill="clear" (click)="perfil()"><ion-icon name="person-circle-outline"></ion-icon></ion-button>
    </div>
  </div>
</ion-footer>
