<ion-header>
  <ion-toolbar color="primary">
    <ion-title><img src="../../../assets/img/logo.png" alt="" class="logo"></ion-title>
    <ion-button slot="end"(click)="salir()"><ion-icon name="log-in-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>{{usuario.nombre}}</p>
  <div class="inicio">
    <div class="inputLabel">
      <p>Introduce una ubicación</p>
    </div>
    <div class="item">
      <ion-item>
        <input type="text" id="autocompletar">
      </ion-item>
      <ion-button (click)="calculoRuta()">Buscar</ion-button>
    </div>
    <div class="map">
      <div id="mapa"></div>
    </div>
    <div class="directions">
      <div id="ordenes"></div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="bottom">
    <div>
      <ion-button class="img img2 active" fill="clear" (click)="abrirMapa()"><ion-icon name="navigate-circle"></ion-icon></ion-button>
    <span class="blur"></span>
    <span class="indicador"></span>
    </div>
    <div>
      <ion-button class="img noactivo" fill="clear" routerLink="/inicio-c"><ion-icon name="home"></ion-icon></ion-button>
    </div>
    <div>
      <ion-button class="img img2 noactivo" fill="clear" routerLink="/confg-c"><ion-icon name="person-circle-outline"></ion-icon></ion-button>
    </div>
  </div>
</ion-footer>