
<ion-content [fullscreen]="true">
  <div class="fondo">
    <ion-card>
      <img src="../../../assets/img/duocuc.png" alt="imagen_duod" class="imagen_duoc"/>
      <img src="../../../assets/img/auto.png" alt="imagen_auto" class="imagen_auto"/>
      <img src="../../../assets/img/logo.png" alt="imagen_logo" class="imagen_logo"/>
      <ion-card-header>
        <ion-card-title></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button color="secondary" routerLink="/login">Iniciar Sesión</ion-button>
        <ion-button color="medium" routerLink="/registro">Registrate</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
