<ion-header>
  <ion-toolbar color="primary">
    <ion-title><img src="../../../assets/img/logo.png" alt="" class="logo"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo">
    <ion-card>
      <ion-card-header>
        <ion-card-tittle>Registro Conductor</ion-card-tittle>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="vehiculo" (ngSubmit)="registrar()">
          <ion-item>
            <ion-label position="stacked">Marca</ion-label>
            <ion-input type="text" placeholder="Ingrese Marca" formControlName="marca"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Modelo</ion-label>
            <ion-input type="text" placeholder="Ingrese Modelo" formControlName="modelo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Patente</ion-label>
            <ion-input type="text" placeholder="Ingrese Patente" formControlName="patente"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Año</ion-label>
            <ion-input type="number" placeholder="Ingrese año" formControlName="anio"></ion-input>
          </ion-item>
            <ion-list>
              <ion-item>
                <ion-select interface="popover" placeholder="Seleccione color" formControlName="color">
                  <ion-select-option value="rojo">Rojo</ion-select-option>
                  <ion-select-option value="azul">Azul</ion-select-option>
                  <ion-select-option value="amarillo">Amarillo</ion-select-option>
                  <ion-select-option value="blanco">Blanco</ion-select-option>
                  <ion-select-option value="negro">Negro</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          <ion-item>
            <ion-label position="stacked">número de licencia</ion-label>
            <ion-input type="number" placeholder="Ingrese numero de licencia "formControlName="licencia"></ion-input>
          </ion-item>
          <ion-button type="submit" [disabled]="!vehiculo.valid" color="secondary">REGISTRAR</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
