<ion-header>
    <div class="header">
<img src="../../../assets/img/logo.png" alt="" width="200px">
    </div>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar color="">
    <ion-button class="img" fill="clear"><img src="../../../assets/img/home.png" alt=""></ion-button>
    <ion-button class="img img2"><img src="../../../assets/img/usuario.png" alt=""></ion-button>
  </ion-toolbar>
</ion-footer>
