.header{
    height: 7vh;
    width: 100vw;
    padding: 10px 15px 2px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #000000;
}

.fondo{
    height: 93vh;
    background-color: #eeeeee;
}